<h2 i18n>應援市集 - 銷售紀錄</h2>

<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<div *ngIf="editingOrderline.lineId>-1" class="orderlineEditBg">
  <div class="orderlineEditFloat">
    <form>
      <h2 style="color: black;" i18n>更改數量和金額</h2>
      <h3 style="text-align: left; color: black;">現況</h3>
      <p>{{editingOrderline.itemName}} ${{editingOrderline.price}} x {{editingOrderline.itemCount}}</p>
      <p>總金額 ${{editingOrderline.totalAmount}}</p>
      <h3 style="text-align: left; color: black;">更改成為</h3>
      <p>
        <label>數量</label>
        <input type="number" class="form-control" name="newItemCount" [(ngModel)]="newItemCount">
      </p>
      <p>
        <label>總金額</label>
        <input type="number" class="form-control" name="newTotalAmount" [(ngModel)]="newTotalAmount">
      </p>
      <div style="text-align: right;">
        <button type="button" class="btn btn-danger" style="margin: 10px;" (click)="cancelEditOrderline()">取消</button>
        <button type="button" class="btn btn-success" style="margin: 10px;" (click)="updateOrderline()">儲存</button>
      </div>
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">日期</th>
      <th scope="col">
        會員<br>
        <input class="search-filter" type="text" name="filterCreateBy" [(ngModel)]="filterargs.createBy">
      </th>
      <th scope="col">
        應援物<br>
        <input class="search-filter" type="text" name="filterItemName" [(ngModel)]="filterargs.itemName">
      </th>
      <th scope="col">總金額</th>
      <th scope="col">
        圖片證明<br>
        <div class="form-check form-switch" style="font-size: 10pt; float: right;">
          <input class="form-check-input" type="checkbox" name="filterImage" [(ngModel)]="isShowImage" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            顯示圖片
          </label>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders | orderfilter:filterargs">
      <td>{{order.createDate | date:'yyyy-MM-dd hh:mm'}}</td>
      <td>{{order.createBy}}</td>
      <td>
        <ul class="list-group" style="background: none;">
          <li class='list-group-item' style="background: none;" *ngFor="let line of order.orderlines">
            <button *ngIf="line.itemCount>0" type="button" class="btn btn-light"
                    (click)="editOrderline(line)">{{line.itemName}} {{line.itemCount}}份 ${{line.totalAmount}}</button>
          </li>
          <li class='list-group-item' *ngIf="order.remarks!='' && order.remarks!=null">
            {{order.remarks}}
          </li>
        </ul>
      </td>
      <td>${{getTotalAmount(order)}}</td>
      <td>
        <a  *ngIf="isShowImage"
            target="_blank"
            href='{{ "https://fansconnect-idol.azurewebsites.net/api/orderimage/" + order.orderId + "?code=shj0Rkq93vQ0jHmV8Z8alfUCcQrHdysOaZBw0od/8yD4/chO3LwAyg=="}}'>
          <img  style="max-width: 300px; border: 1px solid #000000; margin: 5px; border-radius: 5px;"
                src='{{ "https://fansconnect-idol.azurewebsites.net/api/orderimage/" + order.orderId + "?code=shj0Rkq93vQ0jHmV8Z8alfUCcQrHdysOaZBw0od/8yD4/chO3LwAyg=="}}'>
        </a>
        <a  *ngIf="!isShowImage"
            style="font-size: 10pt;"
            target="_blank"
            href='{{ "https://fansconnect-idol.azurewebsites.net/api/orderimage/" + order.orderId + "?code=shj0Rkq93vQ0jHmV8Z8alfUCcQrHdysOaZBw0od/8yD4/chO3LwAyg=="}}'>下載</a>
      </td>
    </tr>
  </tbody>
</table>

<h3>統計表</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">應援物</th>
      <th scope="col">總數</th>
      <th scope="col">總金額</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let summary of getSummaryArray()">
      <td>{{summary.itemName}}</td>
      <td>{{summary.itemCount}}</td>
      <td>${{summary.totalAmount}}</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-light" style="float: right;"
(click)="backToMenu()" i18n>返回主頁</button>
