<h2 i18n>常識鬥</h2>

<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<form>
  <div *ngIf="questions.length==0">
    未有新題目。
  </div>
  <div  *ngFor="let question of questions; let questionIndex=index;"
        class='card question-badge' style="width: 90%; min-width: 300px;">
    <div class='card-body' *ngIf="questionIndex==currentQuestionIndex">
      <p class='card-title question'>{{currentQuestionIndex+1}}. {{question.question}}</p>
      <ul class='list-group'>
        <li class='list-group-item'>
          <div class="form-check">
            <input  class="form-check-input" type="radio" value="1"
                    [checked]="question.selectedOption==1" (change)="onSelectionChange(questionIndex, 1)"/>
            <label class='form-check-label'>{{question.option1}}</label>
          </div>
        </li>
        <li class='list-group-item'>
          <div class="form-check">
            <input  class="form-check-input" type="radio" value="2"
                    [checked]="question.selectedOption==2" (change)="onSelectionChange(questionIndex, 2)"/>
            <label class='form-check-label'>{{question.option2}}</label>
          </div>
        </li>
        <li class='list-group-item'>
          <div class="form-check">
            <input  class="form-check-input" type="radio" value="3"
                    [checked]="question.selectedOption==3" (change)="onSelectionChange(questionIndex, 3)"/>
            <label class='form-check-label'>{{question.option3}}</label>
          </div>
        </li>
        <li class='list-group-item'>
          <div class="form-check">
            <input  class="form-check-input" type="radio" value="4"
                    [checked]="question.selectedOption==4" (change)="onSelectionChange(questionIndex, 4)"/>
            <label class='form-check-label'>{{question.option4}}</label>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <button type="button" class="btn btn-light" style="float: left;"
          *ngIf="currentQuestionIndex>0"
          (click)="goToPreviusQuestion()" i18n>上一題</button>
  <button type="button" class="btn btn-light" style="float: right;"
          *ngIf="currentQuestionIndex<questions.length-1"
          [disabled]="questions[currentQuestionIndex].selectedOption==0"
          (click)="goToNextQuestion()" i18n>下一題</button>
  <button type="button" class="btn btn-light" style="float: right;"
          *ngIf="currentQuestionIndex==questions.length-1"
          [disabled]="questions[currentQuestionIndex].selectedOption==0"
          (click)="completeQuestion()" i18n>完成</button>

</form>

<br><br><br>
<button type="button" class="btn btn-light" style="float: right;"
(click)="backToMenu()" i18n>返回主頁</button>
