<h2 i18n>
  眾籌資訊
</h2>

<div class="loadingDiv" *ngIf="isLoading" style="background-image: url('../assets/icons/three mo_02.gif')">
  &nbsp;
</div>

<div class="container">
  <div class="row">
    <div class="col col-md-6">
      <h3>眾籌能量分佈表</h3>
      <canvas id="doughnut"></canvas>
    </div>
    <div class="col col-md-6">
      <h3>眾籌意向分佈表</h3>
      <canvas id="doughnut2"></canvas>
    </div>
  </div>
</div>

<div>
  <h3>每日能量總表</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">日期</th>
        <th scope="col">項目</th>
        <th scope="col">金額</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of incomeSummarys;">
        <td>{{item.createDate | date:'yyyy-MM-dd'}}</td>
        <td>{{item.answer5!=''?item.answer5:'眾籌'}}</td>
        <td>${{item.amount}}</td>
      </tr>
      <tr *ngFor="let item of expenses;">
        <td>{{item.createDate | date:'yyyy-MM-dd'}}</td>
        <td>{{item.expenseDescription}}</td>
        <td style="color: red">- ${{item.amount}}</td>
      </tr>
      <tr>
        <td></td>
        <td style="font-weight: bold; font-size: 14pt;">餘額</td>
        <td style="font-weight: bold; font-size: 14pt;">${{total}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h3>眾籌能量細目表</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">日期</th>
        <th scope="col">金額</th>
        <th scope="col">投票意向</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of incomes;">
        <td>{{item.createDate | date:'yyyy-MM-dd'}}</td>
        <td>${{item.amount}}</td>
        <td>{{item.answer1}}</td>
      </tr>
    </tbody>
  </table>
</div>

<p style="text-align: center; text-decoration: underline;">以上數據只供參考，一切以今日流會情報谷作準。</p>

<button type="button" class="btn btn-light" style="float: right;"
(click)="backToHome()" i18n>返回主頁</button>
