<div style="position: absolute; top: 0; right: 0; margin: 5px;">
  <button *ngIf="!isLogon"
  style="font-size: 10pt"
  class="btn btn-dark"
  type="button" (click)="gotoLogin()">登入</button>

  <button *ngIf="isLogon"
  class="btn btn-dark"
  style="font-size: 10pt"
  type="button" (click)="logout()">登出 [{{usernameEmail}}]</button>
</div>

<div class="container">
  <div class="row">
    <div class="col col-md-12" style="text-align: center;" (click)="gotoChatbot()">
      <img style="height: 400px;" src="../assets/icons/logo-ar.gif"/>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6">
      <button type="button" (click)="gotoShop()" class="btn btn-light">
        <img src="../../assets/icons/shopping.png"/>
        <span>應援物市集</span>
      </button>
    </div>
    <div class="col col-md-6">
      <button type="button" (click)="goToQuestionsKing()" class="btn btn-light">
        <img src="../../assets/icons/quiz.png"/>
        <span>常識鬥</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6">
      <button type="button" (click)="goToEvents()" class="btn btn-light">
        <img src="../../assets/icons/calendar.png"/>
        <span>事件簿</span>
      </button>
    </div>
    <div class="col col-md-6">
      <button type="button" (click)="goToSupport()" class="btn btn-light">
        <img src="../../assets/icons/calendar.png"/>
        <span>應援表</span>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-12">
      <button type="button" (click)="goToDashboard()" class="btn btn-light">
        <img src="../../assets/icons/help.png"/>
        <span>能量圖</span>
      </button>
    </div>
    <!-- div class="col col-md-6">
      <button type="button" (click)="goToDonation()" class="btn btn-light">
        <img src="../../assets/icons/love.png"/>
        <span>分享愛</span>
      </button>
    </div -->
  </div>
</div>
<!-- div style="text-align: center;">
  <p>
    <a href="javascript: return;" (click)="gotoLuckyDraw()">SICA WORLD 抽獎結果</a><br/>
    <a href="javascript: return;" (click)="gotoSupportItemForm()">Sica應援店申請表</a>
  </p>
</div -->
