<h2 i18n>
  由Sica-world贊助送出🙌🏼
  #sica推介 Shiseido Ginza Tokyo 以下產品
</h2>
<p>截止日期: 2022年2月7日23:59</p>
<p>大獎：第3代新升級皇牌免疫力精華 (新年限定別注版) (1位)</p>
<p>特別獎：Shiseido之Admin本人都唔識 總之真係好好用 禮物包 (見圖3) (3位)</p>
<h2>抽獎方式: <a target="_blank" href='../assets/doc/luckydraw4.sql'>下載</a></h2>
<p>總分最高4位可得獎</p>
<h2>大獎結果: sleepyhei</h2>
<h2>特別獎結果:</h2>
<ul class="list-group">
  <li>punisheee</li>
  <li>anpansum</li>
  <li>rubytam65</li>
</ul>
<p>總分紙:<a target="_blank" href='../assets/doc/shisedo抽獎結果.pdf'>下載</a></p>

<hr>

<h2 i18n>
  由Sica-world贊助送出🙌🏼
  #sica推介 M•A•C Cosmetics Hong Kong 以下產品
</h2>
<p>截止日期: 2022年2月7日23:59</p>
<p>大獎：LIGHTFUL C³光透養膚水乳液 (1位)</p>
<p>特別獎：絲霧唇膏 色號934 (圖片只供參考 顏色以實物為準) (1位)</p>
<h2>抽獎方式: <a target="_blank" href='../assets/doc/luckydraw3.sql'>下載</a></h2>
<p>總分最高2位可得獎</p>
<h2>大獎結果: xdigybi</h2>
<h2>特別獎結果: markmark1105</h2>
<p>總分紙:<a target="_blank" href='../assets/doc/mac抽獎結果.pdf'>下載</a></p>

<hr>

<h2 i18n>
  由Sica-world贊助送出🙌🏼
  #sica推介Crabtree Evelyn Hong Kong 海洋系列 La source hand cream 25ml 限量10支
</h2>

<p>開始日期: 今日流會公佈</p>
<p>截止日期: 2022年1月26日23:59</p>
<p>以抽獎方式抽出10位參加者, 每人一支</p>
<h2>抽獎方式: <a target="_blank" href='../assets/doc/luckydraw2.sql'>下載</a></h2>
<p>總分最高10位可得細獎</p>
<h2>抽獎結果</h2>
<ul class="list-group">
  <li>hypbbb</li>
  <li>forever_fa_fa</li>
  <li>sica_hit_hand</li>
  <li>toby_617</li>
  <li>petitpinkslayer</li>
  <li>sbekutamo</li>
  <li>markmark1105</li>
  <li>kinhaibtong</li>
  <li>very_otaku</li>
  <li>markkchowww</li>
</ul>
<p>總分紙:<a target="_blank" href='../assets/doc/handcream抽獎結果.pdf'>下載</a></p>

<hr>

<h2 i18n>Sica號1:76巴士模型抽獎 (已截止)</h2>

<p>開始日期: 今日流會公佈</p>
<p>截止日期: 2022年1月10日</p>
<p>抽獎及公佈日期: 2022年1月11日</p>
<p>大獎(1名): 價值港幣約$1700的獨家訂造的Sica號1:76巴士模型</p>
<p>細獎(10名): 神秘的巴士小模型</p>

<p>第一步: Follow Sica 何洛瑤 Instagram (<a target="_blank" href="https://www.instagram.com/j.sicasi/">@j.sicasi</a>)</p>
<p>第二步: 到Sica fans club的Instagram的巴士模型抽獎post留言(<a target="_blank" href="https://www.instagram.com/sica.todayflowclub/">IG post連結</a>) Tag三位朋友</p>
<p>第三步: 填寫以下參加表格之後提交。</p>

<!-- div class="container">
  <div class="row" *ngFor="let msg of alertMessages; let msgIndex=index;">
    <div class="col col-md-10">
      <div class="alert alert-danger" role="alert">
        {{msg}}
      </div>
    </div>
  </div>

  <div class="row" *ngFor="let msg of infoMessages; let msgIndex=index;">
    <div class="col col-md-10">
      <div class="alert alert-info" role="alert">
        {{msg}}
      </div>
    </div>
  </div>
</div -->

<!-- form>
  <div *ngIf="!isComplete" class='card' style="width: 90%; min-width: 300px; margin-bottom: 5px;">
    <div class='card-body'>
      <h3 class="card-title">參加表格</h3>
      <div class="container">
        <div class="row">
          <div class='col col-md-4'>
            <label class="form-label">你的Instagram 用戶名稱<span class="required">*</span></label>
          </div>
          <div class="col col-md-6">
            <input type="text" maxlength="100" name="igId" class="form-control" [(ngModel)]="editForm.igId"/>
          </div>
        </div>
        <div class="row">
          <div class='col col-md-4'><label class="form-label">以下哪一個是你參加今次抽獎的原因？</label></div>
          <div class="col col-md-6">
            <ul class='list-group'>
              <li class='list-group-item'>
                <div class="form-check">
                  <input  class="form-check-input" type="checkbox" value="#1"
                  [checked]="isChecked('#1')" (change)="onSelectionChange('#1')"/>
                  <label class='form-check-label'>喜歡Sica</label>
                </div>
              </li>
              <li class='list-group-item'>
                <div class="form-check">
                  <input  class="form-check-input" type="checkbox" value="#2"
                  [checked]="isChecked('#2')" (change)="onSelectionChange('#2')"/>
                  <label class='form-check-label'>喜歡巴士</label>
                </div>
              </li>
              <li class='list-group-item'>
                <div class="form-check">
                  <input  class="form-check-input" type="checkbox" value="#3"
                  [checked]="isChecked('#3')" (change)="onSelectionChange('#3')"/>
                  <label class='form-check-label'>喜歡投資</label>
                </div>
              </li>
              <li class='list-group-item'>
                <div class="form-check">
                  <input  class="form-check-input" type="checkbox" value="#4"
                  [checked]="isChecked('#4')" (change)="onSelectionChange('#4')"/>
                  <label class='form-check-label'>
                    其他：
                    <input  type="text" name="answer2" class="form-control" maxlength="100"
                            [disabled]="!isChecked('#4')"
                            [(ngModel)]="editForm.answer2"/>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col col-md-12">
            <button type="button" class="btn btn-dark" style="float: left;" (click)="cancelEdit()" i18n>取消</button>
            <button type="button" class="btn btn-dark" style="float: right;" (click)="completeEdit()">完成</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-light" style="float: right;"
          (click)="backToMenu()" i18n>返回主頁</button>
</form -->

<br/>

<h2>抽獎方式</h2>
<p>總分最高10位可得細獎</p>
<p>總分最低1位可得大獎</p>
<div class="code">
DELETE FROM dbo.luckydrawresult<br>
DELETE FROM [dbo].[LuckyDraw]<br>
<br>
INSERT INTO [dbo].[LuckyDraw](<br>
	[LuckyDrawId],<br>
	[IgId],<br>
	[IdolId])<br>
SELECT DISTINCT 1, IGID, IDOLID FROM FORM;<br>
<br>
--Round 1<br>
INSERT INTO dbo.LuckyDrawResult(<br>
	Timeid,<br>
	LuckyDrawItemId,<br>
	Result<br>
)<br>
SELECT 1, ItemId,  ABS(CHECKSUM(NewId())) % 10000 FROM dbo.LuckyDraw<br>
<br>
SELECT TOP 10 Igid, result FROM (<br>
	SELECT D.IgId, SUM(R.Result) Result FROM dbo.LuckyDrawResult R<br>
	INNER JOIN dbo.LuckyDraw D ON R.LuckyDrawItemId=D.ItemId<br>
	GROUP BY D.IGID<br>
) rs1<br>
ORDER BY Result DESC<br>
SELECT TOP 1 Igid, result FROM (<br>
	SELECT D.IgId, SUM(R.Result) Result FROM dbo.LuckyDrawResult R<br>
	INNER JOIN dbo.LuckyDraw D ON R.LuckyDrawItemId=D.ItemId<br>
	GROUP BY D.IGID<br>
) rs1<br>
ORDER BY Result ASC<br>
<br>
--Round 2<br>
INSERT INTO dbo.LuckyDrawResult(<br>
	Timeid,<br>
	LuckyDrawItemId,<br>
	Result<br>
)<br>
SELECT 2, ItemId,  ABS(CHECKSUM(NewId())) % 10000 FROM dbo.LuckyDraw<br>
<br>
SELECT TOP 10 Igid, result FROM (<br>
	SELECT D.IgId, SUM(R.Result) Result FROM dbo.LuckyDrawResult R<br>
	INNER JOIN dbo.LuckyDraw D ON R.LuckyDrawItemId=D.ItemId<br>
	GROUP BY D.IGID<br>
) rs1<br>
ORDER BY Result DESC<br>
SELECT TOP 1 Igid, result FROM (<br>
	SELECT D.IgId, SUM(R.Result) Result FROM dbo.LuckyDrawResult R<br>
	INNER JOIN dbo.LuckyDraw D ON R.LuckyDrawItemId=D.ItemId<br>
	GROUP BY D.IGID<br>
) rs1<br>
ORDER BY Result ASC<br>
<br>
--Round 3<br>
INSERT INTO dbo.LuckyDrawResult(<br>
	Timeid,<br>
	LuckyDrawItemId,<br>
	Result<br>
)<br>
SELECT 3, ItemId,  ABS(CHECKSUM(NewId())) % 10000 FROM dbo.LuckyDraw<br>
<br>
SELECT TOP 10 Igid, result FROM (<br>
	SELECT D.IgId, SUM(R.Result) Result FROM dbo.LuckyDrawResult R<br>
	INNER JOIN dbo.LuckyDraw D ON R.LuckyDrawItemId=D.ItemId<br>
	GROUP BY D.IGID<br>
) rs1<br>
ORDER BY Result DESC<br>
<br>
SELECT TOP 1 Igid, result FROM (<br>
	SELECT D.IgId, SUM(R.Result) Result FROM dbo.LuckyDrawResult R<br>
	INNER JOIN dbo.LuckyDraw D ON R.LuckyDrawItemId=D.ItemId<br>
	GROUP BY D.IGID<br>
) rs1<br>
ORDER BY Result ASC<br>
</div>

<br/>

<h2>抽獎結果</h2>
<p>細獎:</p>
<ul class="list-group">
  <li *ngFor="let name of smallResults">
    {{name}}
  </li>
</ul>
<p>大獎:</p>
<p>{{bigResult}}</p>
<p>總分紙:<a target="_blank" href='../assets/doc/巴士模型抽獎結果.pdf'>下載</a></p>
